In [2]:
import pandas as pd
import numpy as np
import chart_studio.plotly as py
import plotly.graph_objects as go
import cufflinks as cf
import seaborn as sns
import plotly.express as px
import matplotlib as plt
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [3]:
df = pd.read_csv('2021-06-metropolitan-stop-and-search.csv')
df

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing
0,Person and Vehicle search,2021-05-31T23:00:00+00:00,False,NaN,51.484282,-0.106707,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Arrest,NaN,NaN
1,Person search,2021-05-31T23:02:00+00:00,False,NaN,51.519227,-0.167858,Male,18-24,Other ethnic group - Not stated,Other,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Community resolution,NaN,NaN
2,Person search,2021-05-31T23:02:00+00:00,False,NaN,51.519227,-0.167858,Male,NaN,Black/African/Caribbean/Black British - Any ot...,Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN
3,Person and Vehicle search,2021-05-31T23:05:00+00:00,False,NaN,51.506109,-0.088496,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN
4,Person search,2021-05-31T23:09:00+00:00,False,NaN,51.539044,-0.245349,Male,18-24,Black/African/Caribbean/Black British - African,Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Summons / charged by post,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16680,Person search,2021-06-30T22:45:00+00:00,False,NaN,NaN,NaN,Male,over 34,Black/African/Caribbean/Black British - Any ot...,Black,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN
16681,Person search,2021-06-30T22:55:00+00:00,False,NaN,51.534228,-0.193440,Male,10-17,Other ethnic group - Any other ethnic group,Other,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN
16682,Person search,2021-06-30T22:55:00+00:00,False,NaN,51.534228,-0.193440,Male,10-17,White - Any other White background,Other,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN
16683,Person search,2021-06-30T22:55:00+00:00,False,NaN,51.534228,-0.193440,Male,18-24,Other ethnic group - Any other ethnic group,Other,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN
16684,Person and Vehicle search,2021-06-30T22:57:00+00:00,False,NaN,51.592125,-0.257943,Male,18-24,Asian/Asian British - Any other Asian background,Other,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN

In [4]:
def criminality(df):
    if df['Outcome'] == "A no further action disposal" or df['Outcome'] == "Caution (simple or conditional)":
        return 0
    else:
        return 1
    
df['criminality'] = df.apply(criminality, axis=1)

In [5]:
def ethnicity(df):
    et = df['Self-defined ethnicity']
    if "White" in et and (not 'Mixed' in et):
        return 'White'
    elif "Black" in et and (not 'Mixed' in et):
        return 'Black'
    elif "Asian" in et and (not 'Mixed' in et):
        return 'Asian'
    elif 'Mixed' in et:
        return 'Mixed'
    elif et == "Other ethnic group - Any other ethnic group":
        return 'Other'
    else:
        return 'Not stated'

df['Self-defined ethnicity'].fillna('Other ethnic group - Not stated', inplace=True)
df['ethnicity'] = df.apply(ethnicity, axis=1)
df

,Type,Date,Part of a policing operation,Policing operation,Latitude,Longitude,Gender,Age range,Self-defined ethnicity,Officer-defined ethnicity,Legislation,Object of search,Outcome,Outcome linked to object of search,Removal of more than just outer clothing,criminality,ethnicity
0,Person and Vehicle search,2021-05-31T23:00:00+00:00,False,NaN,51.484282,-0.106707,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Arrest,NaN,NaN,1,White
1,Person search,2021-05-31T23:02:00+00:00,False,NaN,51.519227,-0.167858,Male,18-24,Other ethnic group - Not stated,Other,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Community resolution,NaN,NaN,1,Not stated
2,Person search,2021-05-31T23:02:00+00:00,False,NaN,51.519227,-0.167858,Male,NaN,Black/African/Caribbean/Black British - Any ot...,Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN,0,Black
3,Person and Vehicle search,2021-05-31T23:05:00+00:00,False,NaN,51.506109,-0.088496,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN,0,White
4,Person search,2021-05-31T23:09:00+00:00,False,NaN,51.539044,-0.245349,Male,18-24,Black/African/Caribbean/Black British - African,Black,Misuse of Drugs Act 1971 (section 23),Controlled drugs,Summons / charged by post,NaN,NaN,1,Black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16680,Person search,2021-06-30T22:45:00+00:00,False,NaN,NaN,NaN,Male,over 34,Black/African/Caribbean/Black British - Any ot...,Black,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN,0,Black
16681,Person search,2021-06-30T22:55:00+00:00,False,NaN,51.534228,-0.193440,Male,10-17,Other ethnic group - Any other ethnic group,Other,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN,0,Other
16682,Person search,2021-06-30T22:55:00+00:00,False,NaN,51.534228,-0.193440,Male,10-17,White - Any other White background,Other,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN,0,White
16683,Person search,2021-06-30T22:55:00+00:00,False,NaN,51.534228,-0.193440,Male,18-24,Other ethnic group - Any other ethnic group,Other,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,A no further action disposal,NaN,NaN,0,Other
16684,Person and Vehicle search,2021-06-30T22:57:00+00:00,False,NaN,51.592125,-0.257943,Male,18-24,Asian/Asian British - Any other Asian background,Other,Misuse of Drugs Act 1971 (section 23),Controlled drugs,A no further action disposal,NaN,NaN,0,Asian

In [6]:
counts = df['ethnicity'].value_counts()
ethnicities = pd.DataFrame({'ethnicity':counts.index, 'total':counts.values})
counts_nocrime =  df[df['criminality'] == 0]['ethnicity'].value_counts()
counts_crime = df[df['criminality'] == 1]['ethnicity'].value_counts()
ethnicities['crime'] = counts_crime.values
ethnicities['nocrime'] = counts_nocrime.values
ethnicities

    ethnicity  total  crime  nocrime
0       White   5215   1559     3656
1  Not stated   4324   1148     3496
2       Black   4067    828     2919
3       Asian   2023    586     1437
4       Mixed    580    197      383
5       Other    476    144      332

In [7]:
ethnicities['percentage_crime'] = ethnicities['crime'] / ethnicities['total'] 
ethnicities['percentage_nocrime'] = ethnicities['nocrime'] / ethnicities['total'] 
ethnicities

    ethnicity  total  crime  nocrime  percentage_crime  percentage_nocrime
0       White   5215   1559     3656          0.298945            0.701055
1  Not stated   4324   1148     3496          0.265495            0.808511
2       Black   4067    828     2919          0.203590            0.717728
3       Asian   2023    586     1437          0.289669            0.710331
4       Mixed    580    197      383          0.339655            0.660345
5       Other    476    144      332          0.302521            0.697479

In [8]:
df['Gender'].fillna('Not stated', inplace=True)
counts = df['Gender'].value_counts()
genders = pd.DataFrame({'gender':counts.index, 'total':counts.values})
counts_nocrime =  df[df['criminality'] == 0]['Gender'].value_counts()
counts_crime = df[df['criminality'] == 1]['Gender'].value_counts().reindex(df['Gender'].unique(), fill_value=0)
genders['crime'] = counts_crime.values
genders['nocrime'] = counts_nocrime.values
genders['percentage_crime'] = genders['crime'] / genders['total'] 
genders['percentage_nocrime'] = genders['nocrime'] / genders['total'] 
genders

       gender  total  crime  nocrime  percentage_crime  percentage_nocrime
0        Male  15182   4048    11134          0.266632            0.733368
1      Female   1285    332      953          0.258366            0.741634
2  Not stated    213     82      131          0.384977            0.615023
3       Other      5      0        5          0.000000            1.000000

In [9]:
df['Age range'].fillna('Not stated', inplace=True)
counts = df['Age range'].value_counts()
ages = pd.DataFrame({'age':counts.index, 'total':counts.values})
counts_nocrime =  df[df['criminality'] == 0]['Age range'].value_counts()
counts_crime = df[df['criminality'] == 1]['Age range'].value_counts()
ages['crime'] = counts_crime.values
ages['nocrime'] = counts_nocrime.values
ages['percentage_crime'] = ages['crime'] / ages['total'] 
ages['percentage_nocrime'] = ages['nocrime'] / ages['total'] 
ages

          age  total  crime  nocrime  percentage_crime  percentage_nocrime
0       18-24   5282   1677     3605          0.317493            0.682507
1       25-34   3632   1262     2370          0.347467            0.652533
2     over 34   3146    883     2263          0.280674            0.719326
3       10-17   2422    461     2023          0.190339            0.835260
4  Not stated   2201    178     1961          0.080872            0.890959
5    under 10      2      1        1          0.500000            0.500000

In [10]:
df["Date"] = pd.to_datetime(df["Date"])
df["weekday"] = df["Date"].dt.weekday
df['date'] = df['Date'].dt.date
date_counts = df['date'].value_counts()
dates = pd.DataFrame({'date':date_counts.index, 'total':date_counts.values})
counts_nocrime =  df[df['criminality'] == 0]['date'].value_counts()
counts_crime = df[df['criminality'] == 1]['date'].value_counts()
dates['crime'] = counts_crime.values
dates['nocrime'] = counts_nocrime.values
dates

          date  total  crime  nocrime
0   2021-06-11    734    206      541
1   2021-06-05    679    197      504
2   2021-06-25    666    195      483
3   2021-06-24    662    193      478
4   2021-06-04    648    174      473
5   2021-06-19    634    171      470
6   2021-06-09    626    171      469
7   2021-06-03    623    165      455
8   2021-06-10    620    158      455
9   2021-06-23    614    157      449
10  2021-06-07    596    156      436
11  2021-06-17    584    153      429
12  2021-06-02    583    152      422
13  2021-06-22    582    150      419
14  2021-06-06    554    150      416
15  2021-06-12    552    147      413
16  2021-06-01    550    146      398
17  2021-06-18    546    142      397
18  2021-06-08    532    141      395
19  2021-06-16    531    138      384
20  2021-06-26    530    135      382
21  2021-06-30    516    134      374
22  2021-06-15    505    134      370
23  2021-06-28    494    127      360
24  2021-06-21    457    124      353
25  2021-06-20    438    122      311
26  2021-06-29    431    121      309
27  2021-06-14    426    105      305
28  2021-06-13    394    104      289
29  2021-06-27    337     82      255
30  2021-05-31     41     12       29

In [11]:
weekday_counts = df['weekday'].value_counts()
weekdays = pd.DataFrame({'weekday':weekday_counts.index, 'total':weekday_counts.values})
counts_nocrime =  df[df['criminality'] == 0]['weekday'].value_counts()
counts_crime = df[df['criminality'] == 1]['weekday'].value_counts()
weekdays['crime'] = counts_crime.values
weekdays['nocrime'] = counts_nocrime.values
weekdays

   weekday  total  crime  nocrime
0        2   2870    789     2081
1        1   2600    712     1915
2        4   2594    679     1888
3        3   2489    665     1836
4        5   2395    653     1730
5        0   2014    512     1502
6        6   1723    452     1271

In [12]:
ethnicities.to_csv("ethnicities.csv")
genders.to_csv("genders.csv")
ages.to_csv("ages.csv")
dates.to_csv("dates.csv")
weekdays.to_csv("weekdays.csv")

In [13]:
def legislation_simplified(df):
    et = df['Legislation']
    if "23" in et:
        return 'Drugs'
    elif "Criminal Evidence" in et:
        return 'Criminal Evidence Act'
    elif "47" in et:
        return 'Firearms'
    elif '60' in et:
        return 'Public Order Act'
    else:
        return 'Not stated'

df["Legislation_simplified"] = df.apply(legislation_simplified, axis=1)

df['Crime'] = df['Outcome'].apply(lambda x: 0 if x == 'A no further action disposal' or x == 'Caution (simple or conditional)' else 1)

In [14]:
data_cords = df[['Longitude', 'Latitude', 'Crime', 'ethnicity', "Legislation_simplified", "Gender", "Age range"]]

In [16]:
data_cords.to_csv("data_cords.csv")